.start-section {
    height: 100vh;
    background-color: 'yellow';
}

.select-section {
    height: 100vh;
    background-color: 'red';
}

.delivery-section {
    height: 100vh;
    background-color: 'blue';
}

.switch-section {
    height: 100vh;
    background-color: 'green';
}

.summary-section {
    height: 100vh;
    background-color: 'purple';
}

.customer-section {
    height: 100vh;
    background-color: 'orange';
}