.dot {
        position: absolute;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;

    -webkit-animation: myOrbit 4s linear infinite; 
       -moz-animation: myOrbit 4s linear infinite; 
         -o-animation: myOrbit 4s linear infinite; 
            animation: myOrbit 4s linear infinite; 
}


@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(180deg) translateX(60.5px) rotate(0deg); }
    to   { -webkit-transform: rotate(540deg) translateX(60.5px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(180deg) translateX(60.5px) rotate(0deg); }
    to   { -moz-transform: rotate(540deg) translateX(60.5px) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(180deg) translateX(60.5px) rotate(0deg); }
    to   { -o-transform: rotate(540deg) translateX(60.5px) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(180deg) translateX(60.5px) rotate(0deg); }
    to   { transform: rotate(540deg) translateX(60.5px) rotate(-360deg); }
}
    

/* @media screen and (max-width: 480px) {
.dot {
    position: absolute;
    right: 49%;
    top: 49.58%;
}

@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(180deg) translateX(28.6px) rotate(0deg); }
    to   { -webkit-transform: rotate(540deg) translateX(28.6px) rotate(-360deg); }
}
    
@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(180deg) translateX(28.6px) rotate(0deg); }
    to   { -moz-transform: rotate(540deg) translateX(28.6px) rotate(-360deg); }
}
    
@-o-keyframes myOrbit {
    from { -o-transform: rotate(180deg) translateX(28.6px) rotate(0deg); }
    to   { -o-transform: rotate(540deg) translateX(28.6px) rotate(-360deg); }
}
    
@keyframes myOrbit {
    from { transform: rotate(180deg) translateX(28.6px) rotate(0deg); }
    to   { transform: rotate(540deg) translateX(28.6px) rotate(-360deg); }
}
}

@media screen and (min-width: 481px) and (max-width: 768px)  {

.dot {
     position: absolute;
     right: 49.4%;
     top: 49.5%;
}
        
@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(180deg) translateX(33px) rotate(0deg); }
    to   { -webkit-transform: rotate(540deg) translateX(33px) rotate(-360deg); }
}
            
@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(180deg) translateX(33px) rotate(0deg); }
    to   { -moz-transform: rotate(540deg) translateX(33px) rotate(-360deg); }
}
            
@-o-keyframes myOrbit {
    from { -o-transform: rotate(180deg) translateX(33px) rotate(0deg); }
    to   { -o-transform: rotate(540deg) translateX(33px) rotate(-360deg); }
}
            
@keyframes myOrbit {
    from { transform: rotate(180deg) translateX(33px) rotate(0deg); }
    to   { transform: rotate(540deg) translateX(33px) rotate(-360deg); }
}
}

@media screen and (min-width: 769px) and (max-width: 1024px)  {

.dot {
        position: absolute;
        right: 49.4%;
        top: 49.5%;
}
    
@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(180deg) translateX(38px) rotate(0deg); }
    to   { -webkit-transform: rotate(540deg) translateX(38px) rotate(-360deg); }
}
        
@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(180deg) translateX(38px) rotate(0deg); }
    to   { -moz-transform: rotate(540deg) translateX(38px) rotate(-360deg); }
}
        
@-o-keyframes myOrbit {
    from { -o-transform: rotate(180deg) translateX(38px) rotate(0deg); }
    to   { -o-transform: rotate(540deg) translateX(38px) rotate(-360deg); }
}
        
@keyframes myOrbit {
    from { transform: rotate(180deg) translateX(38px) rotate(0deg); }
    to   { transform: rotate(540deg) translateX(38px) rotate(-360deg); }
}
}

@media screen and (min-width: 1025px) and (max-width: 1280px)  {
.dot {
    position: absolute;
    right: 49.1%;
    top: 49.5%;
}

@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(180deg) translateX(39.5px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(39.5px) rotate(-360deg); }
}
    
@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(180deg) translateX(39.5px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(39.5px) rotate(-360deg); }
}
    
@-o-keyframes myOrbit {
    from { -o-transform: rotate(180deg) translateX(39.5px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(39.5px) rotate(-360deg); }
}
    
@keyframes myOrbit {
    from { transform: rotate(180deg) translateX(39.5px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(39.5px) rotate(-360deg); }
}
} */



    

